<!DOCTYPE html>
<html lang="en">

<body>
    <section id="authors" class="section">
        <h2>Authors</h2>
        <div class="authors-section">
            <div class="authors-list">
                <span class="author-name first-author">
                    <img class="author-icon" src="images/anu.png" alt="ANU" />
                    Yang Liu*<sup>1</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name first-author">
                    <img class="author-icon" src="images/alabama.jpg" alt="UAB" />
                    Jiyao Yang*<sup>2</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name">
                    <img class="author-icon" src="images/csiro.jpg" alt="CSIRO" />
                    Madhawa Perera<sup>3</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name">
                    <img class="author-icon" src="images/OPPO US Research Center.png" alt="OPPO" />
                    Pan Ji<sup>4</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name">
                    <img class="author-icon" src="images/postech.png" alt="POSTECH" />
                    Dongwoo Kim<sup>5</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name">
                    <img class="author-icon" src="images/caneiji.jpg" alt="CMU" />
                    Min Xu<sup>6</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name">
                    <img class="author-icon" src="images/alabama.jpg" alt="UAB" />
                    Tianyang Wang<sup>2</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name">
                    <img class="author-icon" src="images/west.png" alt="UWA" />
                    Saeed Anwar<sup>7</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name">
                    <img class="author-icon" src="images/curtin.png" alt="Curtin" />
                    Tom Gedeon<sup>8</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name corresponding">
                    <img class="author-icon" src="images/Griffith.png" alt="Griffith" />
                    Lei Wang†<sup>3,9</sup>
                </span>
                <span class="separator">•</span>
                <span class="author-name corresponding">
                    <img class="author-icon" src="images/anu.png" alt="ANU" />
                    Zhenyue Qin†<sup>1</sup>
                </span>
            </div>
            
            <div class="affiliations-list">
                <span><sup>1</sup>Australian National University</span>
                <span class="separator">•</span>
                <span><sup>2</sup>University of Alabama at Birmingham</span>
                <span class="separator">•</span>
                <span><sup>3</sup>Data61 CSIRO</span>
                <span class="separator">•</span>
                <span><sup>4</sup>OPPO US Research Center</span>
                <span class="separator">•</span>
                <span><sup>5</sup>POSTECH</span>
                <span class="separator">•</span>
                <span><sup>6</sup>Carnegie Mellon University</span>
                <span class="separator">•</span>
                <span><sup>7</sup>University of Western Australia</span>
                <span class="separator">•</span>
                <span><sup>8</sup>Curtin University</span>
                <span class="separator">•</span>
                <span><sup>9</sup>Griffith University</span>
            </div>

            <div style="margin-top: 1rem; font-size: 0.85rem; color: #666; text-align: center;">
                *Equal contribution &nbsp;&nbsp;&nbsp;&nbsp; †Corresponding authors
            </div>
        </div>
    </section>
</body>
</html>