<section id="citation" class="section">
    <div class="citation-section">
        <div class="citation-container">
            <h2 class="citation-title">Citation</h2>
            <div class="citation-box">
                <pre class="citation-text">
@article{LIU2026114140,
title = {Representation-centric survey of supervised skeletal action recognition and the new benchmark},
journal = {Pattern Recognition},
pages = {114140},
year = {2026},
issn = {0031-3203},
doi = {https://doi.org/10.1016/j.patcog.2026.114140},
url = {https://www.sciencedirect.com/science/article/pii/S0031320326011052},
author = {Yang Liu and Jiyao Yang and Madhawa Perera and Pan Ji and Dongwoo Kim and Min Xu and Tianyang Wang and Saeed Anwar and Tom Gedeon and Lei Wang and Zhenyue Qin}
}
                </pre>
                <button class="copy-button" onclick="copyCitation()">
                    📋 Copy
                </button>
                <div class="copy-feedback" id="copyFeedback">Copied!</div>
            </div>
        </div>
    </div>
</section>
